@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$base-color: #58585A;
$IBMRegular: 400;
$IBMSemiBold: 600;
$IBMBold: 700;
$linear-gradient: linear-gradient(#FFEA0D, #FFCA0A);

body,html{
    font-family: 'IBM Plex Sans', sans-serif;
    color: $base-color;
}
main.py-4{
    padding-top: 0px !important;
}
div#sidepanel-section .container.col-md-2.float-left {
    padding-left: 0px !important;
}
#sidepanel-container {
    top: 0;
    width: 200px;
    overflow: hidden auto;
    padding-top: 86px;
}

#user-info h4 {
    font-weight: $IBMSemiBold;
}
p.tiny-text{
    font-weight: $IBMRegular;
    font-size: 10px;
}
#user-info img{
    width:50px;
}
a.parent-link p{
    font-weight: $IBMRegular;
    color: #58585A;
    font-size: 14px;
}
a.parent-link p:active{
    font-weight: $IBMBold;
    text-decoration:none;
}
a.parent-link:hover{
    font-weight:$IBMBold;
    text-decoration:none !important;
}

.bx--accordion__arrow{
    position: absolute;
    left: 150px;
}
.bx--accordion__item{
    border: none !important;
}
.bx--accordion__title{
    margin: 0px;
    color: $base-color;
    font-size: 14px;

}
i.material-icons {
    vertical-align: bottom;
    margin-right: 8px;
}
div#sidepanel-section {
    height: 100%;
    width: 200px;
    position: fixed;
    background-image:$linear-gradient;
}