@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
body, html {
  font-family: 'IBM Plex Sans', sans-serif; }

div#dashboard-section {
  padding-top: 0; 

}

div#dashboard-section .card-header {
  font-weight: 600;
  background-image: linear-gradient(#FFEA0D, #FFCA0A);
  border: 7px 7px 0px 0px; }

table th, label {
  font-weight: bold; }

.col-4-1 {
  width: 33%;
  float: left; }
  .col-4-1 .card {
    margin-bottom: 24px; }

.col-4-2 {
  width: 28%;
  margin-left: 35px;
  float: left; }
  .col-4-2 .card {
    margin-bottom: 24px; }

.col-4-3 {
  width: 25%;
  margin-left: 35px;
  float: left; }

#dashboard-section .row {
  padding-top: 100px; }

nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
  position: fixed;
  z-index: 999;
  width: 100%;
  overflow: hidden auto;
  background-color: #58585A !important; }

table.table-transactiondaily {
  margin: 0 auto; }
  table.table-transactiondaily th {
    padding: 9px;
    border-bottom: 2px solid #145AFF;
    font-weight: 600;
    color: #152935; }
  table.table-transactiondaily td {
    padding: 9px; }

.table thead th {
  padding: 9px;
  border-bottom: 2px solid #145AFF;
  font-weight: 600;
  color: #152935; }

span.date-exchangerate {
  font-weight: 600;
  font-size: 16px;
  height: 0px; }

p.day-exchangerate {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }

span.time-exchangerate {
  float: right;
  font-weight: 600;
  font-size: 16px; }

p.time-date {
  margin-bottom: 0px; }

p.title-exchangerate {
  text-align: center;
  color: #FFCA0A;
  font-weight: 600;
  font-size: 24px; }

h1.exchangerate {
  font-size: 76px;
  text-align: center; }

table#list-user thead {
  background-color: #F4F7FB; }
table#list-user button.btn.btn-primary {
  background-color: #145AFF;
  border: none;
  border-radius: 0; }

button.next {
  background-color: #145AFF;
  border: none;
  color: white;
  width: 10%;
  margin-left: 10px; }

button.prev {
  background-color: #145AFF;
  border: none;
  color: white;
  width: 10%; }

.table-list {
  width: 2500px;
  overflow: auto; }

button#new-transaction, .btn-primary {
  background-color: #145AFF; }

button#new-transaction {
  padding: 10px;
  width: 20%;
  margin-right: 20px; }

.btn-primary:hover {
  background-color: #145AFF; }

span.plus {
  width: 50px;
  height: 50px;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  color: #145AFF;
  margin-left: 5px;
  vertical-align: middle; }

input.form-control {
  height: 49px; }

table.table.table-list th {
  background-color: #F4F7FB; }
  table.table.table-list th td {
    border-top: 0px !important; }

tr:hover {
  background-color: #F4F7FB;
  border: 2px solid #145AFF;
  cursor: pointer; }

.form-control {
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important; }

div#beneficiary, div#sender, .table td {
  background-color: white; }

.hack {
  min-height: 4vh; }

.row.col-12 {
  padding: 0px !important; }

th.table-active {
  background-color: #f8fafc; }

.gentransaction .col-2 {
  padding-left: 0px !important; }

select#branch,
button.btn.btn-primary.certificate,
select#agent,
button.btn.btn-primary.btb,
select#status {
  height: 48px; }

th.table-active.counts {
  width: 50%;
  text-align: center; }

.col-12.title-page, .row.btb h1 {
  padding-bottom: 4vh; }

/*# sourceMappingURL=peramax.css.map */
