@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body, html {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #58585A; }

main.py-4 {
  padding-top: 0px !important; }

div#sidepanel-section .container.col-md-2.float-left {
  padding-left: 0px !important; }

#sidepanel-container {
  top: 0;
  width: 200px;
  overflow: hidden auto;
  padding-top: 86px; }

#user-info h4 {
  font-weight: 600; }

p.tiny-text {
  font-weight: 400;
  font-size: 10px; }

#user-info img {
  width: 50px; }

a.parent-link p {
  font-weight: 400;
  color: #58585A;
  font-size: 14px; }

a.parent-link p:active {
  font-weight: 700;
  text-decoration: none; }

a.parent-link:hover {
  font-weight: 700;
  text-decoration: none !important; }

.bx--accordion__arrow {
  position: absolute;
  left: 150px; }

.bx--accordion__item {
  border: none !important; }

.bx--accordion__title {
  margin: 0px;
  color: #58585A;
  font-size: 14px; }

i.material-icons {
  vertical-align: bottom;
  margin-right: 8px; }

div#sidepanel-section {
  height: 100%;
  width: 200px;
  position: fixed;
  background-image: linear-gradient(#FFEA0D, #FFCA0A); }

/*# sourceMappingURL=sidepanel-style.css.map */
