<template>
    <div>
        <table class='table'>
            <thead>
                <th v-for="header in headers">{{header.title}}</th>
               
            </thead>
            <tr v-for="payable in agentPayables">
                <td>
                    AUD {{payable.TotalPayable}}
                </td>
                <td>
                    AUD {{payable.TotalAgentPayment}}
                </td>
                 <td>
                    AUD {{payable.TotalAgentBalance}}
                </td>              
            </tr>
        </table>
    </div> 
    
</template>

<script>
    export default{
        data(){
            return{
                agentPayables:[],
                headers:[
                    {title:"Total Payable"},
                    {title:"Total Payment"},
                    {title:"Total Balance/Credit"}
                    ]
            }
        },

        methods:{
            getPayables(){
                axios.get('./api/transactions/findTransactionByGroup/1')
                        .then(response => this.agentPayables = response.data);
            }
        },

        created(){
            this.getPayables();
        }
    }
</script>