<template>
<div id='dashboard-section'>
    <div class="col-14" >
        <div class = "row justify-content">
        <div class="col-12 title-page">
            <h1>AUSTRAC Report</h1>
        </div>
            <div class="col-4">
                <div class='form-group'>
                    <label for="branch">Select Status</label>
                    <select class="form-control" id="branch">
                        <option>status</option>
                    </select>
                </div>
            </div>
           
            <div class="col-2">
                <div class='form-group'>
                    <label for="status">From</label>
                    <input type="date" class="form-control">                       
                </div>
            </div>
            <div class="col-2">
                <div class='form-group'>
                    <label for="status">To</label>
                    <input type="date" class="form-control">                       
                </div>
            </div>
             <div class="col-3">
                  <div class ="hack"></div>
                <button class="btn btn-primary">Search</button>

            </div>
            
        </div>
        <div class="table-responsive">            
            <table class="table table-list">
             <th v-for="field in fields">
                {{field.title}}
            </th>
            <tr v-for="data in list">
               
                <td>{{data.txndate}}</td>
                <td>{{data.benefrecdate}}</td>
                <td>{{data.currency}}</td>
                <td>{{data.totalamt}}</td>
                <td>{{data.descropo}}</td>
                <td>{{data.transrefno}}</td>
                <td>{{data.fullName}}</td>
                <td>{{data.otherName}}</td>
                <td>{{data.dob}}</td>
                <td>{{data.bussad}}</td>                
               </tr>
            </table>
        </div>
        
    </div>
</div>
</template>

<script>
import CarbonComponentsVue from '@carbon/vue/src/index';
import BootstrapVue from 'bootstrap-vue';
Vue.use(BootstrapVue);
Vue.use(CarbonComponentsVue);

    export default{
        data(){
            return{
                fields:[
                    {title:"TXNDATE"},
                    {title:"BENEFRECDATE"},
                    {title:"CURRENCY CODE"},
                    {title:"TOTOTAL AMT"},
                    {title:"DESCRPOP"},
                    {title:"TRANSREFNO"},
                    {title:"Full Name"},
                    {title:"Other Name"},
                    {title:"DOB"},
                    {title:"BUSSAD"},
                    
                ],

                list:[
                    {txndate:       "2019-04-01",
                    benefrecdate:   "2019-04-01", 
                    currency:       "AUD", 
                    totalamt:       "9000", 
                    descropo:       "BTP",
                    transrefno:     "PRM2019123456",
                    fullName:       "Lapu lapu", 
                    otherName:      "Magelan", 
                    dob:            "1978-12-25", 
                    bussad:         "123 Silicon Valley"
                    }
                ]
            }
        }
    }
</script>