<template>
<div id='dashboard-section'>
    <div class="col-14" >
        <div class='row btb'>
                            <h1>Bank to Bank Transaction</h1>    
            <div class="row col-12">   
         
                <div class="col-2">
                    <div class='form-group'>
                        <label for="status">Select Status</label>
                        <select class="form-control" id="status">
                            <option>status Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class='form-group'>
                        <label for="from">From</label>
                       <input type='date'  class="form-control" id="from">
                    </div>
                </div>
                 <div class="col-2">
                    <div class='form-group'>
                        <label for="to">To</label>
                       <input type='date'  class="form-control" id="to">
                    </div>
                </div>
                 <div class="col-2">
                    <div class='form-group'>
                        <label for="trackingNo">Tracking No.</label>
                       <input type='text' class="form-control" id="trackingNo">
                    </div>
                </div>
                <div class="col-3">
                  <div class ="hack"></div>
                           <button class="btn btn-primary btb">Search</button>

            </div>
     
            </div>         
            <table class="table table-bordered">
                <th class='table-active' v-for="field in fields">
                    {{field.title}}
                </th>
                <tr>                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                       
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</template>

<script>
    export default{
        data(){
            return{
                fields:[
                    {title:"Date"},
                    {title:"Teller's Name"},
                    {title:"Referrence No."},
                    {title:"Sender's Name"},
                    {title:"AUD Amount"},
                    {title:"Rate"},
                    {title:"Service Fee"},
                    {title:"Peso Amount"},
                    {title:"Beneficiary Name"},
                ]

            }
        }
    }
</script>