<template>
    <div id="dashboard-section">
        <div class="row justify-content">
            <div class="col-12 title-page">
                <h1>Branch Payment</h1>
            </div>
            <table class="table table-list">
            <th v-for="field in fields">{{field.title}}</th>

            <tr v-for="pay in payments">
                <td>{{pay.branch}}</td>
                <td>{{pay.totalPayment}}</td>
                <td>{{pay.branchPayment}}</td>
                <td>{{pay.branchCredit}}</td>
                <td><button class="btn btn-primary">View Payments</button></td>
                <td><button class="btn btn-warning">Add Payment</button></td>
            </tr>
        </table>
        </div>
        
    </div>
</template>

<script>
export default{

    data(){
        return{
            payments:[
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
                {
                branch:"Peramax Online", 
                totalPayable:"AUD 10,000.00", 
                branchPayment: "AUD 10,000.00",
                branchCredit: "AUD 10,000.00"
                },
            ],
            fields:[
                {title:"Branch"},
                {title:"Total Payable"},
                {title:"Total Branch Payment"},
                {title:"Branch Credit/Debit"},
                {title:"View Payment"},
                {title:"Add Payment"},
                
            ],
        }
    }
}
</script>