<template>
<div id='dashboard-section'>
    <div class="col-14" >
        <div class = "row justify-content">
                       
        </div>
        <div>
            <div class="row col-12">
                <div class="col-4">
                    <div class='form-group'>
                        <label for="agent">Select Agent</label>
                        <select class="form-control" id="agent">
                            <option>Agent Name</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class='form-group'>
                        <label for="senderLname">Sender Last Name</label>
                        <input type="text" class="form-control" id="senderLname">
                    </div>
                </div>
                <div class ="col-2">
                       <div class ="hack"></div>
                <button class="btn btn-primary certificate">Search</button>
                </div>
            </div>         
            <table class="table table-bordered">
                <th class='table-active' v-for="field in fields">
                    {{field.title}}
                </th>
                <tr>                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td align='center'>
                        <button class='btn btn-primary'>Create Certificate</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</template>

<script>
    export default{
        data(){
            return{
                 fields:[
                        {title:"Sender Full Name"},
                        {title:"Beneficiaries"},
                        {title:"Action"},
                 ]

            }
        }
    }
</script>