<template>
<div id='dashboard-section'>
    <div class="col-14" >
        <div class = "row justify-content">
                       
        </div>
        <div>
            <div class="col-12 title-page">
                <h1>New Remitter Count Per Month</h1>
            </div>         
            <table class="table table-bordered counts">
                <th class='table-active counts' v-for="remitTitle in remitterCountFields">
                    {{remitTitle.title}}
                </th>
                <tr v-for="remitCount in remitterCountFields">                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="col-12 title-page">
                <h1>Transaction Count/Volume Per Month</h1>
            </div>             
            <table class="table table-bordered">
                <th class='table-active' v-for="transTitle in transactionsCount">
                    {{transTitle.title}}
                </th>
                <tr>                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="col-12 title-page">
                <h1>Transaction Count/Volume Per Day</h1>
            </div>             
            <table class="table table-bordered">
                <th class='table-active' v-for="transTitle in transactionsCount">
                    {{transTitle.title}}
                </th>
                <tr>                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="col-12 title-page">
                <h1>Transaction Count Per Branch</h1>
            </div>             
            <table class="table table-bordered">
                <th class='table-active' v-for="transTitle in transactionsCount">
                    {{transTitle.title}}
                </th>
                <tr>                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="col-12 title-page">
                <h1>Transaction Count Per Service Mode</h1>
            </div>             
            <table class="table table-bordered">
                <th class='table-active' v-for="transTitle in transactionsCount">
                    {{transTitle.title}}
                </th>
                <tr>                
                    <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                     <td>
                       
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</div>
</template>

<script>
    export default{
        data(){
            return{
                remitterCountFields:[
                    {title:"MONTH/YEAR"},
                    {title:"COUNT"}                    
                ],

                transactionsCount:[
                    {title: "Month/Year"},
                    {title: "Send Amount(PHP)"},
                    {title: "Remit Amount(AUB)"},
                    {title: "Remit Charge(AUD)"},
                    {title: "Total Payment(AUD)"},
                    {title: "Ave. Rate"},
                    {title: "Count"},                    
                ],
            }
        }
    }
</script>