<template>
    <div id='dashboard-section'>
        
        <div class="row justify-content">
             <div class="col-12 title-page">
                <h1>Create Transaction</h1>
            </div>
            <div class="col-10">
                <div class="btn-group">
                    <button id ="new-transaction" class="btn btn-primary">
                        New Sender <span class ="plus">+</span>
                    </button>
                    <input type="text" class="form-control" style="width:800px" placeholder="Search items">
                </div>     
           
        </div>

        </div>
    </div>
</template>

<script>

    export default{

        data(){
            return{
                stepcnt: 1
            }
        }
        
    }
</script>