<template>
    <div class="container col-md-4">
        
        <cv-accordion>
            <cv-accordion-item>
                <template slot="title">Transaction</template>
                <template slot="content">
                    <ul>
                        <li>Create Transaction</li>
                        <li>List of Transaction</li>
                        <li>Branch Payment</li>
                        <li>Hold Branch</li>
                    </ul>
                    </template>
            </cv-accordion-item>
        </cv-accordion>
        <cv-button kind="danger">danger button</cv-button>
        <cv-button kind="secondary">secondary button</cv-button>
        <cv-button kind="primary">secondary button</cv-button>

    </div>
</template>

<script>
import CarbonComponentsVue from '@carbon/vue/src/index';
Vue.use(CarbonComponentsVue);
   
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
