<template>
    <div>
        <p class ="time-date"><span class ="date-exchangerate">{{rates.created_at | moment('LL') }}</span><span class= "time-exchangerate">{{rates.created_at | moment('h:mm A') }}</span></p>
        <p class ="day-exchangerate">{{rates.created_at | moment('dddd') }}</p>


      

        <p class ="title-exchangerate">AUD -> PHP</p>
        <h1 class ="exchangerate">{{ rates.rate }}</h1>
    </div>
</template>

<script>
    Vue.use(require('vue-moment'));

    export default{

        data(){
            return{
                rates:[]
            }
        },

        created(){
            axios.get('./api/showExchangerate').then(response => this.rates = response.data);
        }
    }
</script>