<template>
<div id='dashboard-section'>

        <div class="col-12 title-page">
            <h1>General Reports</h1>
        </div>
        <div class="gentransaction">
         <div class="row col-12">
                <div class="col-2">
                    <div class='form-group'>
                        <label for="branch">Select Status</label>
                        <select class="form-control" id="branch">
                            <option>ALL</option>
                        </select>
                    </div>
                </div>

                
                <div class="col-2">
                    <div class='form-group'>
                        <label for="status">Tracking No.</label>
                          <input type="text" id="trackingno" class="form-control"> 
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class='form-group'>
                        <label for="status">From</label>
                        <input type="date" class="form-control">                       
                    </div>
                </div>
                <div class="col-2">
                    <div class='form-group'>
                        <label for="status">To</label>
                        <input type="date" class="form-control">                       
                    </div>
                </div>
                <div class="col-4">
                    <p>Filter</p>
                    <button class="btn btn-primary">Search</button>
                    <button class="btn btn-outline-primary">Clear</button>
                </div>
            </div>
            <br>

                        <div id ="sender" class="row col-12" style="padding-top:0">
                <div class="col-3">
                    <h2>Sender</h2>                    
                </div>

                <div class="col-3">
                    <div class='form-group'>
                        <label for="fnameSender">First Name</label>
                        <input type="text" id="fnameSender" class="form-control">                       
                    </div>
                </div>

                <div class="col-3">
                    <div class='form-group'>
                        <label for="mnameSender">Middle Name</label>
                        <input type="text" id="mnameSender" class="form-control">                       
                    </div>
                </div>

                <div class="col-3">
                    <div class='form-group'>
                        <label for="lnameSender">Surname</label>
                        <input type="text" id="lnameSender" class="form-control">                       
                    </div>
                </div>
            </div>
            
            <div id ="beneficiary" class="row col-12" style="padding-top:0">
                <div class="col-3">
                    <h2>Beneficiary</h2>                    
                </div>

                <div class="col-3">
                    <div class='form-group'>
                        <label for="fnameBeneficiary">First Name</label>
                        <input type="text" id="fnameBeneficiary" class="form-control">                       
                    </div>
                </div>

                <div class="col-3">
                    <div class='form-group'>
                        <label for="mnameBeneficiary">Middle Name</label>
                        <input type="text" id="mnameBeneficiary" class="form-control">                       
                    </div>
                </div>

                <div class="col-3">
                    <div class='form-group'>
                        <label for="lnameBeneficiary">Surname</label>
                        <input type="text" id="lnameBeneficiary" class="form-control">                       
                    </div>
                </div>
            </div>
<br>
              <div class="table row col-12">
            
            <table class="table table-bordered">
            <th class="table-active" v-for="field in fields">
                {{field.title}}
            </th>
            <tr v-for="data in list">
                <td>
                    {{data.createdBy}}
                </td>
                <td>
                    {{data.trackingNo}}
                </td>
                <td>
                    {{data.date}}
                </td>
                <td>
                    {{data.sender}}
                </td>
                <td>
                    {{data.senderAddress}}
                </td>
                
               </tr>
            </table>
        </div>        
</div>
 </div>
</template>

<script>
import CarbonComponentsVue from '@carbon/vue/src/index';
import BootstrapVue from 'bootstrap-vue';
Vue.use(BootstrapVue);
Vue.use(CarbonComponentsVue);

    export default{
        data(){
            return{
                fields:[
                    {title:"Created By"},
                    {title:"Tracking No"},
                    {title:"Date"},
                    {title:"Sender Name"},
                    {title:"Sender Address"}
                ],

                list:[
                    {
                        createdBy:      "staff name",
                        trackingNo:     "PRM2019040130", 
                        date:           "2019-07-04 09:05:27", 
                        sender:         "Theos",
                        senderAddress:  "123 street name",
                    },

                    {
                        createdBy:      "staff name",
                        trackingNo:     "PRM2019040130", 
                        date:           "2019-07-04 09:05:27", 
                        sender:         "Theos",
                        senderAddress:  "123 street name",
                    },


{
                        createdBy:      "staff name",
                        trackingNo:     "PRM2019040130", 
                        date:           "2019-07-04 09:05:27", 
                        sender:         "Theos",
                        senderAddress:  "123 street name",
                    },


                ]
            }
        }
    }
</script>