<template>
    <div id="dashboard-section">
        <div class="row justify-content">
            <div class="col-12 title-page">
                <h1>Hold Branch</h1>
            </div>
            <table class="table table-list">
                <th></th>
            <th v-for="field in fields">{{field.title}}</th>

            <tr v-for="stat in status">
                <td><i class="material-icons">lock</i></td>
                <td><button class="btn btn-outline-primary">Hold</button></td>
                <td>{{stat.branch}}</td>
                <td>{{stat.branchCode}}</td>
                <td>{{stat.owner}}</td>
                <td>{{stat.status}}</td>
                <td>{{stat.remark}}</td>
                <td>{{stat.dateHold}}</td>               
            </tr>
        </table>
        </div>
        
    </div>
</template>

<script>
export default{

    data(){
        return{
            status:[
                {
                branch:"Peramax Online", 
                branchCode:"PRM", 
                owner: "example name",
                status: "ACTIVE",
                remark: "testing remarks",
                dateHold: "YYYY-MM-DD"
                },
               
            ],
            fields:[
                {title:"Update"},
                {title:"Branch"},
                {title:"Branch Code"},
                {title:"Owner"},
                {title:"Status"},
                {title:"Remarks"},
                {title:"Date Hold"}                
            ],
        }
    }
}
</script>