<template>
    <div>
        <table class ="table">
            <thead>
                <th v-for="header in headers">
                    {{header.title}}
                </th>
            </thead>
            <tr v-for="log in logs">
                <td>{{log.tracking_no}}</td>
                <td>{{log.created_at}}</td>
            </tr>
        </table>
        <div class="float-right">
            <a href="/transactionList">Show more</a>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                headers:[
                    {title:"Tracking Number"},
                    {title:"Date and Time"}
                ],
                
                logs:[]
            }
        },

        created(){
            axios.get('./api/transaction/logs').then(response => this.logs = response.data);
        }
    }
</script>