<template>
    <div class="row">
        <h1>List of Senders</h1>
        <div class="input-group" style="margin-top:100px">
            
            <input type="text" v-model="search" class="form-control" placeholder="Search">
        </div>
        <div class="table-responsive">         
            <table class="table" style="width:120%">
                <thead >
                    <th v-for="field in fields" >{{field.title}}</th>
                </thead>
                <tr v-for="user in filterUsers">
                    <td>Edit</td>
                    <td>{{user.fname}}</td>
                    <td>{{user.mname}}</td>
                    <td>{{user.lname}}</td>
                    <td>{{user.suffix}}</td>
                    <td>{{user.bday}}</td>
                    <td>{{user.place_of_birth}}</td>
                    <td>{{user.contact_no}}</td>
                    <td>{{user.citizenship}}</td>
                    <td>{{user.residency}}</td>
                    <td>{{user.country}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.address_ph}}</td>
                    <td>{{user.suburb}}</td>
                    <td>{{user.state}}</td>
                    <td>{{user.post_code}}</td>
                    <td>{{user.occupation}}</td>
                    <td>{{user.source_of_inc}}</td>
                    <td>{{user.active}}</td>
                    <td>{{user.email}}</td>    
                </tr>
            </table>
        </div>
        <div class="float-right">
            <nav aria-label="page navigation">
                 {{users.current_page}} -
            {{users.last_page}}
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link" @click="clickPage(pageNum -= 1)"> < </a></li>
                    <li class="page-item" v-if="users.current_page == users.last_page">
                        <a href="#" class="page-link" :disabled="disable == 1"> > </a>
                    </li>                    
                    <li v-else class="page-item"><a href="#" class="page-link" @click="clickPage(pageNum += 1)"> > </a></li>
                </ul>
            </nav>
            
        </div>
  </div>
</template>

<script>
  export default{
    props:{},
    data(){
        return{
          search:"",
          users:[],
          fields:[
              {title:"Edit"},
              {title:"First Name"},
              {title:"Middle Name"},
              {title:"Last Name"},
              {title:"Suffix"},
              {title:"Birthday"},
              {title:"Place of Birth"},
              {title:"Contact Number"},
              {title:"Citizenship"},
              {title:"Residency"},
              {title:"Country"},
              {title:"Address"},
              {title:"Address in PH"},
              {title:"Suburb"},
              {title:"State"},
              {title:"Post Code"},
              {title:"Occupation"},
              {title:"Source of Income"},
              {title:"Status"},
              {title:"Email"}
            ],
            url: "./api/senders",
            jsonReturn: [],
            pageUrl: null,
            currentUrl: null,
            search_input:"",
            pageNum: 1,
            disable: 0,
        };     
    },

    computed:{
      filterUsers(){
        return this.users.data;
      }
    },

    watch:{
      search(){
        this.pageNum = 1;
        this.clickPage(this.url);
      }
    },

    methods:{
      clickPage(pageNum){
        if(this.search.length > 0){
          this.pageUrl = this.url+"?search="+this.search+"&page="+this.pageNum;
        }
        else{
          this.pageUrl = this.url+"?page="+this.pageNum;
        }

        if(this.pageNum == this.users.last_page){
          this.disable = 1;
        }

        axios.get(this.pageUrl)
          .then(response => this.users = response.data);
      },
    },

    created(){
      this.clickPage(this.url);
    },
    
  }
</script>
