<template>
    
        <table class="table">
            <thead>
                <th v-for="header in headers">{{header.title}}</th>
            </thead>
            <tr v-for="charge in charges">
                <td>{{charge.mode_desc}}</td>
                <td align="right">{{charge.service_charge}}</td>
            </tr>
        </table>
           

</template>

<script>
    export default{
        data(){
            return{
                charges:[],               
                headers:[
                    {title: "Service Center"},
                    {title: "Fees"}
                ]
            }
        },
        
        created(){
            axios.get('./api/serviceMode?page=dashboard').then(response=>this.charges = response.data);
        }
    }
</script>