<template>
    <div class="row">
        <div class="input-group" style="margin-top:100px">
            <input type="text" v-model="search" class="form-control" placeholder="Search">
        </div>
          
        <table class="table" style="width:120%">
            <thead >
                <th v-for="field in fields" >{{field.title}}</th>
            </thead>
            <tr v-for="user in filterUsers">
                <td>Edit</td>
                <td>{{user.service_code}}</td>
                <td>{{user.mode_desc}}</td>
                <td>{{user.service_charge}}</td>
                <td>{{user.flag}}</td>
                <td>{{user.max_amount}}</td>
                <td>{{user.lock_amount}}</td>
            </tr>
        </table>
        
        <div class="float-right">
            <nav aria-label="page navigation">
                {{users.current_page}} - {{users.last_page}}
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link" @click="clickPage(pageNum -= 1)"> < </a></li>
                    
                    <li class="page-item" v-if="users.current_page == users.last_page">
                        <a href="#" class="page-link"> > </a>
                    </li>                    
                    <li v-else class="page-item"><a href="#" class="page-link" @click="clickPage(pageNum += 1)"> > </a></li>
                </ul>
            </nav>
        </div>
  </div>
</template>

<script>
  export default{
    props:{},
    data(){
        return{
          search:"",
          users:[],
          fields:[
              {title:"Edit"},
              {title:"Service Code"},
              {title:"Mode Description"},
              {title:"Service Charge"},
              {title:"Flag"},
              {title:"Max Amount"},
              {title:"Lock Amount"}
            ],
            url: "./api/serviceMode",
            jsonReturn: [],
            pageUrl: null,
            currentUrl: null,
            search_input:"",
            pageNum: 1,
        };     
    },

    computed:{
      filterUsers(){
        return this.users.data;
      }
    },

    watch:{
      search(){
        this.pageNum = 1;
        this.clickPage(this.url);
      }
    },

    methods:{
      clickPage(pageNum){
        if(this.search.length > 0){
          this.pageUrl = this.url+"?search="+this.search+"&page="+this.pageNum;
        }
        else{
          this.pageUrl = this.url+"?page="+this.pageNum;
        }

        axios.get(this.pageUrl)
          .then(response => this.users = response.data);
      },
    },

    created(){
      this.clickPage(this.url);
    },
    
  }
</script>
