<template>
<div id = "sidepanel-section">
    <div class="container col-md-2 float-left">
         <div id="sidepanel-container">
            <div id="user-info">
                <img :src="'/storage/img/'+avatar" >

                <h4>You Name Here</h4>
                <p class="tiny-text">youremail@paramax.com.au</p>
            </div>
            <a href="/dashboard" class="parent-link"><p><i class="material-icons">dashboard</i>Dashboard</p></a>
            <a href="/userValidate" class="parent-link"><p><i class="material-icons">supervisor_account</i>Direct User Approval</p></a>
            <cv-accordion>
                
                <cv-accordion-item>
                    <template slot="title"><i class="material-icons">monetization_on</i>Transaction</template>
                    <template slot="content">
                        <ul>
                            <li><a href="/createTransaction">Create Transaction</a></li>
                            <li><a href="/transactionList">List of Transaction</a></li>
                            <li><a href="/branchPayment">Branch Payment</a></li>
                            <li><a href="/holdbranch">Hold Branch</a></li>
                        </ul>
                        </template>
                </cv-accordion-item>
                 <cv-accordion-item>
                    <template slot="title"><i class="material-icons">receipt</i>Reports</template>
                    <template slot="content">
                        <ul>
                            <li><a href="/generalreport">General Reports</a></li>
                            <li><a href="/austrac">AUSTRAC Reports</a></li> 
                            <li><a href="/counts">Counts</a></li>
                            <li><a href="/certificate">Certificate</a></li>
                            <li><a href="#">Mlhuillier</a></li>
                            <li><a href="banktobank">Bank to Bank</a></li>

                        </ul>
                        </template>
                </cv-accordion-item>
                 <cv-accordion-item>
                    <template slot="title"><i class="material-icons">build</i>Maintenance</template>
                    <template slot="content">
                        <ul>
                            <li><a href="/usersList">Users</a></li>
                            <li><a href="/listofsenders">Senders</a></li>
                            <li><a href="/branches">Branches</a></li>
                            <li><a href="/modelist">Service Modes</a></li>
                            <li><a href="/servicecenter">Service Centers</a></li>
                            <li><a href="/exchangerateall">Exchange Rate</a></li>
                        </ul>
                    </template>
                </cv-accordion-item>
            </cv-accordion>
            <a href="" class="parent-link"><p><i class="material-icons">library_books</i>Logs</p></a>            
        </div>

    </div>
    </div>
</template>

<script>
import CarbonComponentsVue from '@carbon/vue/src/index';
import BootstrapVue from 'bootstrap-vue';
Vue.use(BootstrapVue);
Vue.use(CarbonComponentsVue);

    export default {
        data(){
            return{
                avatar:"default.png",
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
    
</script>
