<template>
 <table class="table-transactiondaily">
     <thead>
         <th v-for="header in headers">
             {{header.title}}
         </th>
     </thead>
     <tr v-for="transaction in transactions">
         <td>
             {{transaction.agent_code}}
         </td>
         <td>
             {{transaction.charge_total}}
         </td>
         <td>
             {{transaction.total}}
         </td>
         <td>
             {{transaction.payment_total}}
         </td>
         <td>
         </td>
     </tr>
     <tr>
         <td><b>Total</b></td>
         <td></td>
         <td><b>{{totalCount}}</b></td>
     </tr>

     <tr>
         <td><b>Total Payment</b></td>
         <td></td>
         <td></td>
         <td><b>{{totalPayment}}</b></td>
     </tr>
 </table>
</template>

<script>
    export default{
        data(){
            return{
                transactions:[],
                headers:[
                    {title:"Branch"},
                    {title:"Service Charge"},
                    {title:"Count"},
                    {title:"Total Payment"}
                ],
            }

        },

        created(){
            axios.get('./api/transactions/countPerAgent').then(response => this.transactions = response.data);
        },

        computed:{
            totalCount(){
                return this.transactions.reduce(function(sum, transaction){
                    return sum + transaction.total
                },0)
            },

             totalPayment(){
                return this.transactions.reduce(function(sum, transaction){
                    return sum + Number(transaction.payment_total)
                },0)
            }
        }
    
    }
</script>