<template>
<div id='dashboard-section'>
    <div class="col-14" >
        <div class = "row justify-content">
        <div class="col-12 title-page">
            <h1>List of Transactions</h1>
        </div>
            <div class="col-3">
                <div class='form-group'>
                    <label for="branch">Select Branch</label>
                    <select class="form-control" id="branch">
                        <option>branch name</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class='form-group'>
                    <label for="status">Select Status</label>
                    <select class="form-control" id="status">
                        <option>Approved</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class='form-group'>
                    <label for="status">From</label>
                    <input type="date" class="form-control">                       
                </div>
            </div>
            <div class="col-2">
                <div class='form-group'>
                    <label for="status">To</label>
                    <input type="date" class="form-control">                       
                </div>
            </div>


             <div class="col-3-transaction">
                 <div class ="hack"></div>
                <button class="btn btn-primary transaction">Search</button>
                <button class="btn btn-outline-primary transaction">Export</button>
                <button class="btn btn-outline-primary transaction">Preview</button>
            </div>
            
        </div>
        <div class="table-responsive">
            
            <table class="table-border table-list">
                <th><input type="checkbox"></th>
                <th>Edit</th>

            <th v-for="field in fields">
                {{field.title}}
            </th>
         
            <tr v-for="trans in transactions.data">
                <td>
                    <input type="checkbox">
                    </td>
                    <td>
                        <a href="#">
                            <i class="material-icons">
                                create
                            </i>
                        </a>
                        <button class="btn btn-outline-primary"> 
                            Edit
                        </button>
                    </td>
                    <td>{{trans.status}}</td>
                    <td>{{trans.created_at}}</td>
                    <td>{{trans.createdBy}}</td>
                    <td>{{trans.tracking_no}}</td>
                    <td>{{trans.sender}}</td>
                    <td>{{trans.contact}}</td>
                    <td>{{trans.send_amount}}</td>
                    <td>{{trans.exchange_rate}}</td>
                    <td>{{trans.charge_amount}}</td>
                    <td>{{trans.recieve_amount}}</td>
                    <td>{{trans.beneficiary}}</td>
                    <td>{{trans.payment_remarks}}</td>
                    <td>{{trans.approved_at}}</td>
                    <td>{{trans.completed_at}}</td>
                    <td>{{trans.total}}</td>                
                </tr>
                </table>

        </div>        
    </div>
</div>
</template>

<script>
import CarbonComponentsVue from '@carbon/vue/src/index';
import BootstrapVue from 'bootstrap-vue';
Vue.use(BootstrapVue);
Vue.use(CarbonComponentsVue);

    export default{
        data(){
            return{
                fields:[
                    {title:"Status"},
                    {title:"Created Date"},
                    {title:"Created by"},
                    {title:"Tracking No."},
                    {title:"Sender"},
                    {title:"Contact No"},
                    {title:"Amount AUD"},
                    {title:"Exchange Rate"},
                    {title:"Service Fee"},
                    {title:"Amount PHP"},
                    {title:"Beneficiary"},
                    {title:"Teller Remarks"},
                    {title:"Approved Date"},
                    {title:"Completed Date"},
                    {title:"Total"},
                ],
                transactions:[]
            }
        },

        methods:{
            getList(){
                 axios.get('./api/transaction/list')
                    .then(response => this.transactions = response.data);               
            },
        },

        created(){
            this.getList();
        }
    }
</script>
