<template>
<div>
    <!-- <div>
        <ul>
            <li v-for="state in status">
                {{state.status}}
            </li>
        </ul>
    </div> -->

    <div>
      <apexchart width="380" type="donut" :options="options" :series="series"></apexchart>
    </div>

</div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'
    Vue.component('apexchart', VueApexCharts)

    export default{
        data(){           
            return{
              status:[],
               options: {
                   labels:['For Verification', 'Approved','Completed'],
                },
                series: [44, 55, 41],
                dataChart:[]
            }
        },

        // methods:{
        //     chartSetup(){
        //         axios.get('./api/transaction/chart').then(response => this.dataChart = response.data);

        //         for(var i = 0; i <= this.dataChart.length; i++){
        //             this.series.push(object.value(this.dataChart));
        //         }
        //     }
        // },

        // created(){
        //     this.chartSetup();
        // }
    }

    
</script>