<template>
  <div class="row">     
    <table id ="list-user" class="table" style="margin-top:100px">
      
      <thead >
        <th v-for="field in fields" >{{field.title}}</th>
      </thead>
      <tr v-for="user in filterUsers">
        
          <td><button class="btn btn-primary">Validate</button></td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.fname}} {{user.lname}}
        </td>

         <td>
          {{user.contact_no}}
        </td>

         <td>
          {{user.address}}
        </td>

         <td>
          {{user.address_ph}}
        </td>
        
      </tr>
    </table>
   <input type="text" v-model="search">
   <button @click="clickPage(pageNum-=1)" class ="prev">Prev</button>
   <button :disabled="disable == 1" @click="clickPage(pageNum+=1)" class="next">Next</button>

  </div>
</template>

<script>
  export default{
    props:{},
    data(){
        return{
          search:"",
          users:[],
          fields:[
              {title:"Validate"},
              {title:"Email"},
              {title:"Full Name"},
              {title:"Contact No."},
              {title:"Address"},
              {title:"Address in PH"}
            ],
            url: "./api/validate",
            jsonReturn: [],
            pageUrl: null,
            currentUrl: null,
            pageNum: 1,
            disable: 0,

        };     
    },

    computed:{
      filterUsers(){
        return this.users.data;
      }
    },

    methods:{
      clickPage(pageUrl){

        if(this.search.length > 0){
          this.pageUrl = this.url+"?search="+this.search+"&page="+this.pageNum;
        }
        else{
          this.pageUrl = this.url+"?page="+this.pageNum;
        }

        if(this.pageNum == this.users.last_page){
          this.disable = 1;
        }

        axios.get(this.pageUrl)
          .then(response => this.users = response.data);
      },

    },

    
    watch:{
      search(){
        this.pageNum = 1;
        this.clickPage(this.url);
      }
    },

    created(){
      this.clickPage(this.url);
      // this.defaultApi(this.url);
    }
  }
</script>
