<template>
  <div class="row">
     
    <table class="table" style="margin-top:100px">
      <thead >
        <th v-for="field in fields" >{{field.title}}</th>
      </thead>
      <tr v-for="user in filterUsers">
        <td>
            Edit
        </td>
        <td v-if="user.active == 1">
            <button class="btn btn-outline-primary">Deactivate</button>
        </td>
        <td v-else>
            Deactivated
        </td>
        <td>
          {{user.role}}
        </td>
        <td>
          {{user.agent_code}}
        </td>

         <td>
          {{user.fname}}
        </td>

         <td>
          {{user.mname}}
        </td>

         <td>
          {{user.lname}}
        </td>
        
      </tr>
    </table>
   <input type="text" v-model="search">
   <button @click="clickPage(pageNum -= 1)" class ="prev">Prev</button>
   <button :disabled="disable == 1" @click="clickPage(pageNum += 1)" class="next">Next</button>

  </div>
</template>

<script>
  export default{
    props:{},
    data(){
        return{
          search:"",
          users:[],
          fields:[
              {title:"Edit"},
              {title:"Active/Inactive"},
              {title:"Role"},
              {title:"Branch"},
              {title:"First Name"},
              {title:"Middle Name"},
              {title:"Last Name"}

            ],
            url: "./api/allUsers",
            jsonReturn: [],
            pageUrl: null,
            currentUrl: null,
            search_input:"",
            pageNum: 1,
            disable: 0,
        };     
    },

    computed:{
      filterUsers(){
        return this.users.data;
      }
    },

    watch:{
      search(){
        this.pageNum = 1;
        this.clickPage(this.url);
      }
    },

    methods:{
      clickPage(pageNum){
       
        if(this.search.length > 0){
          this.pageUrl = this.url+"?search="+this.search+"&page="+this.pageNum;
        }
        else{
          this.pageUrl = this.url+"?page="+this.pageNum;
        }

        if(this.pageNum == this.users.last_page){
          this.disable = 1;
        }

        axios.get(this.pageUrl)
          .then(response => this.users = response.data);
      },
    },

    created(){
      this.clickPage(this.url);
    },
    
  }
</script>
